

<footer class="bg-[#053464] dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl">
      <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
        <div>
            <h2 class="mb-6 text-sm font-semibold text-white  dark:text-white">Goalkeepers</h2>
            <% GoalKeeper.forEach(goalie => { %>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4 underline md:no-underline">
                        <a href="/<%= goalie.Name %>" class=" hover:underline"><%= goalie.Name %></a>
                    </li>
                </ul>
            <% }) %>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-white  dark:text-white">Defenders</h2>
            <% Defenders.forEach(defender => { %>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4 underline md:no-underline">
                        <a href="/<%= defender.Name %>" class=" hover:underline"><%= defender.Name %></a>
                    </li>
                </ul>
            <% }) %>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-white  dark:text-white">Midfilders</h2>
            <% Midfilders.forEach(midfilder => { %>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4 underline md:no-underline">
                        <a href="/<%= midfilder.Name %>" class=" hover:underline"><%= midfilder.Name %></a>
                    </li>
                </ul>
            <% }) %>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-white  dark:text-white">Forwards</h2>
            <% Strikers.forEach(striker => { %>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4 underline md:no-underline">
                        <a href="/<%= striker.Name %>" class=" hover:underline"><%= striker.Name %></a>
                    </li>
                </ul>
            <% }) %>
        </div>
    </div>
    <div class="px-4 py-6 bg-[#07004D] dark:bg-gray-700 md:flex md:items-center md:justify-between rounded-t-md">
        <span class="text-sm text-white dark:text-gray-300 sm:text-center">© 2024 <a href="/">Osasuna™</a>. All Rights Reserved.
        </span>
        <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
            <a href="https://web.facebook.com/profile.php?id=61556837722568" class="text-gray-400 hover:text-gray-900 dark:hover:text-white" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" style="fill: rgb(209, 202, 202);transform: ;msFilter:;"><path d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z"></path></svg>
                  <span class="sr-only">Facebook page</span>
              </a>
              <a href="https://www.instagram.com/osasuna_fooball_club/" class="text-gray-400 hover:text-gray-900 dark:hover:text-white" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" style="fill: rgb(209, 202, 202);transform: ;msFilter:;"><path d="M11.999 7.377a4.623 4.623 0 1 0 0 9.248 4.623 4.623 0 0 0 0-9.248zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008z"></path><circle cx="16.806" cy="7.207" r="1.078"></circle><path d="M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.606 6.606 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.615 6.615 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.581 6.581 0 0 0-.421-2.217zm-1.218 9.532a5.043 5.043 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.985 4.985 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.96 4.96 0 0 1-1.669-.311 2.985 2.985 0 0 1-1.719-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.951-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.991 2.991 0 0 1 1.712 1.712 5.08 5.08 0 0 1 .311 1.669c.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011z"></path></svg>
                  <span class="sr-only">Instagram Page</span>
              </a>
              <a href="https://twitter.com/fc_osasuna" class="text-gray-400 hover:text-gray-900 dark:hover:text-white" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="38" height="38" viewBox="0 0 50 50" style="fill: rgb(209, 202, 202);">
                    <path d="M 5.9199219 6 L 20.582031 27.375 L 6.2304688 44 L 9.4101562 44 L 21.986328 29.421875 L 31.986328 44 L 44 44 L 28.681641 21.669922 L 42.199219 6 L 39.029297 6 L 27.275391 19.617188 L 17.933594 6 L 5.9199219 6 z M 9.7167969 8 L 16.880859 8 L 40.203125 42 L 33.039062 42 L 9.7167969 8 z"></path>
                    </svg>
                  <span class="sr-only">X page</span>
              </a>
             
        </div>
      </div>
    </div>
</footer>
