<section class="mt-28 text-[#2D82B7] py-5 flex flex-col justify-center items-center rounded-md bg-gradient-to-tr from-zinc-300 via-gray-300 to-sky-300">
  <% GoalKeeper.forEach(goalie => { %>
    <a href="/<%= goalie.Name %>">
      <div class="keeper">
        <h1 class="text-center py-6 text-[#043464]">Goalkeepers</h1>
        <div class="cursor-pointer h-[400px] relative text-white">
          <div class="absolute  bottom-0 top-[75%] rounded-t-md left-0 right-0 bg-[#3D518C]"></div>
         
            <figure>
              <img src="../img/player_images/<%= goalie.image %>" class="h-[400px] w-[400px] object-cover" alt="mike" />
              <figcaption class="absolute bottom-4 left-[40%]">
                  <h1><%= goalie.Name %></h1>
                  <p><%= goalie.Position %></p>
              </figcaption>
          </figure>
          
          </div>
    </div>
    </a>
    <% }) %>

    <div class="defenders">
        <h1 class="text-center py-6 text-[#043464]">Defenders</h1>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
      <% Defenders.forEach(defender => { %>
        <a href="/<%= defender.Name %>">
          <div class="cursor-pointer md:h-[400px] h-[200px] relative text-white">
            <div class="absolute  bottom-0 top-[75%] rounded-t-md left-0 right-0 bg-[#3D518C]"></div>
              <figure>
                <img src="../img/player_images/<%= defender.image %>" class="md:h-[400px] md:w-[400px] h-[200px] w-[200px] object-cover" alt="<%= defender.Name %>" />
                <figcaption class="absolute bottom-1 md:bottom-4 left-[40%]">
                    <h1 class="text-[16px] md:text-[32px]"><%= defender.Name %></h1>
                    <p class="text-[12px] md:text-[20px]"><%= defender.Position %></p>
                </figcaption>
            </figure>
            </div>
         </a>
      <% }) %>
      
         
      </div>
    </div>
   
    <div class="midfilders">
      <h1 class="text-center py-6 text-[#043464]">Midfilders</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
   <% Midfilders.forEach(midfilder => { %>
    <a href="/<%= midfilder.Name %>">
      <div class="cursor-pointer md:h-[400px] h-[200px] relative text-white">
        <div class="absolute  bottom-0 top-[75%] rounded-t-md left-0 right-0 bg-[#3D518C]"></div>
          <figure>
            <img src="../img/player_images/<%= midfilder.image %>" class="md:h-[400px] md:w-[400px] h-[200px] w-[200px] object-cover" alt="<%= midfilder.Name %>" />
            <figcaption class="absolute bottom-1 md:bottom-4 left-[40%]">
                <h1 class="text-[16px] md:text-[32px]"><%= midfilder.Name %></h1>
                <p class="text-[12px] md:text-[20px]"><%= midfilder.Position %></p>
            </figcaption>
        </figure>
        </div>
     </a>
   <% }) %>
         
           
    </div>
  </div>


  <div class="strikers">
    <h1 class="text-center py-6 text-[#043464]">Strikers</h1>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
  <% Strikers.forEach(striker => { %>
    <a href="/<%= striker.Name %>">
      <div class="cursor-pointer md:h-[400px] h-[200px] relative text-white">
        <div class="absolute  bottom-0 top-[75%] rounded-t-md left-0 right-0 bg-[#3D518C]"></div>
          <figure>
            <img src="../img/player_images/<%= striker.image %>" class="md:h-[400px] md:w-[400px] h-[200px] w-[200px] object-cover" alt="<%= striker.Name %>" />
            <figcaption class="absolute bottom-1 md:bottom-4 left-[40%]">
                <h1 class="text-[16px] md:text-[32px]"><%= striker.Name %></h1>
                <p class="text-[12px] md:text-[20px]"><%= striker.Position %></p>
            </figcaption>
        </figure>
        </div>
    </a>
  <% }) %>

  </div>
</div>

<div class="coach">
  <h1 class="text-center py-6 text-[#043464]">Coach</h1>
  <div class="cursor-pointer h-[400px] relative text-white">
    <div class="absolute  bottom-0 top-[75%] rounded-t-md left-0 right-0 bg-[#3D518C]"></div>
      <figure>
        <img src="../img/Gibu.jpg" class="h-[400px] w-[400px] object-cover" alt="mike" />
        <figcaption class="absolute bottom-4 left-[40%]">
            <h1>Gibu</h1>
            <p>Gaffer</p>
        </figcaption>
    </figure>
    </div>
</div>
</section>